<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:replace="fragments/fragment :: head"></title>
      	<link rel="stylesheet" type="text/css" href="datatables.min.css"/>
		<script src="/js/jquery-3.2.1.min.js"/>
		<script src="datatables.min.js"/>
		<script>
			$(document).ready(function() {
    			$('#penduduk').DataTable();
			});
		</script>
		
    </head>
    <body>
      	<ul th:each="penduduk,iterationStatus: ${penduduk.nik}">
			<li th:text="'Lihat Data Penduduk di Kota ' + ${penduduk.nik} + ' Kecamatan ' + ${kecamatan.nama_keacmatan} + ' Kelurahan ' + ${kelurahan.nama_kelurahan}"></li>
 		</ul> 
      	<table id="penduduk" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>NIK</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
            </tr>
        </thead>
       
       <div class="display" cellspacing="0" width="100%">
        <tbody>
            <tr th:each="penduduk, iterationStatus : ${penduduk}">
                <td th:text="${penduduk.nik}"></td>
                <td th:text="${penduduk.nama}"></td>
                <td th:text="${penduduk.jenis_kelamin}"></td>
            </tr>
        </tbody>
       </div>	
    </table>	
	<hr/>
       	
    </body>
	<script type="text/javascript" src="DataTables/datatables.min.js"></script>
</html>
